.nav{
    display: flex;
    list-style-type: none;

    &__item{
        margin-right: 16px;
        padding: 24px;
        background: gray;
        font-size: 18px;
        color: white;
        &:hover{
            background: pink;
            cursor: pointer;
        }
    }
}

.active{
    background: pink;
}